<app-title title="Listado de usuarios" />

@if(usersService.users()){
    <div class="grid grid-cols-3">
        @for (user of usersService.users(); track user.id){
            <li class="flex items-center my-2 cursor-pointer">
                <img [srcset]="user.image" [alt]="user.name" class="rounded w-14">
                <a [routerLink]="['/dashboard/user', user.id]" class="mx-5 hover:underline">
                    {{user.name}}
                </a>
            </li>
        }@empty {
            <p>Espere por favor</p>
        }
    </div>
}
